In [1]:
import tabula
import pandas as pd
from tabula import read_pdf
import os
import re
#import pyPdf
#import spacy

In [2]:
# Creating a dictionary with keys as bank names and assigning indexes to each column
Bank_statement_features = {
    'HDFC': 
    {
        'Date': 0,           
        'Narration': 1,    
        'Chq.': 2,
        'Value Dt': 3,
        'Withdrawal Amt.': 4,     
        'Deposit Amt.': 5,        
        'Closing Balance': 6,        
   },
   'ICICI':
   {
       'Date':0,
       'Particulars':1,
       'Chq.No.':2,
       'Withdrawals':3,
       'Deposits':4,
       'Auto Sweep':5,
       'Reverse Sweep':6,
       'Balance(INR)':7,
   },#can further add features according to "bank name as keys" of the dictionary
}

In [3]:
# Using Tabula(an open source library) to extract tables from a pdf with much accuracy
# here using tabula-py(Python wrapper of tabula)
#setting the values of various parameters 
filepath = r"D:\Dataset\Loan2Grow\Pdf format\ICICI_Bank_Statement_New.pdf" 
rows_list = tabula.read_pdf(filepath,pages='1',silent=True,stream=True,lattice=True,guess=False,
                            area = (320.0,9.0,743.81,601.11),encoding='utf-8')
                            #area refers to the Portion of the page to analyze(top,left,bottom,right).
                            # calulated using tabula script exporter
                                
                            #pandas_options={'header': None,'error_bad_lines': False,'warn_bad_lines': False}
                            #pandas_options not needed when multiple_tabels=True

                    
#converting the lists together into a dataFrame 
rows_df = pd.DataFrame(rows_list,
                       columns = ['Date','Particulars','Chq.No.','Withdrawals','Deposits',
                                  'Auto Sweep','Reverse Sweep','Balance(INR)','Credit','Debit'])         

#Removing unnecessary columns and rows
rows_df.drop(['Auto Sweep','Reverse Sweep'],axis=1,inplace=True)
rows_df.drop([0],inplace=True)

# tackling those entries which contain delimeter like ','
for i in range(1,len(rows_df)+1):
    rows_df['Withdrawals'][i] = rows_df['Withdrawals'][i].replace(',','')
    rows_df['Deposits'][i] = rows_df['Deposits'][i].replace(',','')

#converting string values to float so that airthmetic analysis can be made 
rows_df["Withdrawals"] = pd.to_numeric(rows_df["Withdrawals"], downcast="float",errors='ignore')
rows_df["Deposits"] = pd.to_numeric(rows_df["Deposits"], downcast="float",errors='ignore')

rows_df

C:\Users\jayka\.conda\envs\TenserFlow\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\jayka\.conda\envs\TenserFlow\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Particulars,Chq.No.,Withdrawals,Deposits,Balance(INR),Credit,Debit
1,01-07-2019,BY CASH - BIJOLIA,NaN,0.0,2000.0,"18,674.45 Cr",NaN,NaN
2,02-07-2019,BIL/INFT/001743804629/NA/,NaN,0.0,3740.0,"22,414.45 Cr",NaN,NaN
3,02-07-2019,MMT/IMPS/918317526479/vidrc/MKELECTRON/BANK OF...,NaN,0.0,3000.0,"25,414.45 Cr",NaN,NaN
4,03-07-2019,BY CASH-KACHHOLA,NaN,0.0,3000.0,"28,414.45 Cr",NaN,NaN
5,03-07-2019,MMT/IMPS/918418038560/d2h/HANSHRAJSO/BANK OF\r...,NaN,0.0,14000.0,"42,414.45 Cr",NaN,NaN
6,05-07-2019,CLG/COSMOS ENTERPRISES /BRK,5181.0,40000.0,0.0,"2,414.45 Cr",NaN,NaN
7,06-07-2019,MMT/IMPS/918710930334/d2h/HANSHRAJSO/BANK OF\r...,NaN,0.0,5000.0,"7,414.45 Cr",NaN,NaN
8,08-07-2019,MMT/IMPS/918814106619/d2h/HANSHRAJSO/BANK OF\r...,NaN,0.0,5000.0,"12,414.45 Cr",NaN,NaN
9,08-07-2019,BIL/INFT/001748219433/NA/,NaN,0.0,2150.0,"14,564.45 Cr",NaN,NaN
10,08-07-2019,UPI/918911468469/UPI/nandkishormali4/State Ban...,NaN,0.0,3000.0,"17,564.45 Cr",NaN,NaN
11,09-07-2019,UPI/919006529705/Palak2vd2h/urmilarankaasin/Paytm,NaN,0.0,2000.0,"19,564.45 Cr",NaN,NaN
12,09-07-2019,UPI/919036840608/NA/9602426732@payt/Bank of Ba...,NaN,0.0,2000.0,"21,564.45 Cr",NaN,NaN
13,09-07-2019,MMT/IMPS/919014033158/d2h/HANSHRAJSO/BANK OF\r...,NaN,0.0,5000.0,"26,564.45 Cr",NaN,NaN
14,11-07-2019,MMT/IMPS/919212840990/vidrc/MKELECTRON/BANK OF...,NaN,0.0,3000.0,"29,564.45 Cr",NaN,NaN
15,11-07-2019,CLG/CODMOD ENTERPRISES/BRK,5182.0,20000.0,0.0,"9,564.45 Cr",NaN,NaN
16,11-07-2019,UPI/919242812430/Payment from Ph/9828846558@yb...,NaN,0.0,1520.0,"11,084.45 Cr",NaN,NaN
17,12-07-2019,UPI/919322122791/Payment from Ph/9351997650@yb...,NaN,0.0,1950.0,"13,034.45 Cr",NaN,NaN
18,15-07-2019,BIL/INFT/001752493955/NA/,NaN,0.0,1520.0,"14,554.45 Cr",NaN,NaN
19,15-07-2019,MMT/IMPS/919414649494/d2h/HANSHRAJSO/BANK OF\r...,NaN,0.0,10000.0,"24,554.45 Cr",NaN,NaN
20,15-07-2019,BY CASH - GULABPURA BAWRI CHOURAHA,NaN,0.0,5000.0,"29,554.45 Cr",NaN,NaN
21,15-07-2019,BIL/INFT/001754025469/MIB-/,NaN,0.0,1800.0,"31,354.45 Cr",NaN,NaN
22,16-07-2019,BY CASH - GULABPURA BAWRI CHOURAHA,NaN,0.0,3000.0,"34,354.45 Cr",NaN,NaN
23,17-07-2019,CLG/COSMOS ENTERPRISES/BRK,5183.0,25000.0,0.0,"9,354.45 Cr",NaN,NaN
24,18-07-2019,BIL/INFT/001755789313/MIB-/,NaN,0.0,2000.0,"11,354.45 Cr",NaN,NaN
25,18-07-2019,MMT/IMPS/919922724515/vidicon/MONUVAISHN/BANK ...,NaN,0.0,10000.0,"21,354.45 Cr",NaN,NaN
26,20-07-2019,MMT/IMPS/920111689183/sisodiyakarera/GOPALSING...,NaN,0.0,1370.0,"22,724.45 Cr",NaN,NaN
27,20-07-2019,UPI/920115721877/UPI/jaina8645@oksbi/State Ban...,NaN,0.0,3000.0,"25,724.45 Cr",NaN,NaN
28,22-07-2019,MMT/IMPS/920312994555/vidrc/MKELECTRON/BANK OF...,NaN,0.0,3000.0,"28,724.45 Cr",NaN,NaN
29,22-07-2019,MMT/IMPS/920313790639/d2h/HANSHRAJSO/BANK OF\r...,NaN,0.0,5000.0,"33,724.45 Cr",NaN,NaN
30,23-07-2019,BIL/INFT/001758812148/NA/,NaN,0.0,3040.0,"36,764.45 Cr",NaN,NaN
31,23-07-2019,MMT/IMPS/920412416551/vidicon/MONUVAISHN/BANK ...,NaN,0.0,10000.0,"46,764.45 Cr",NaN,NaN
32,23-07-2019,MMT/IMPS/920417396415/MB: PCS/SHRAWAN KU/KOTAK...,NaN,0.0,2500.0,"49,264.45 Cr",NaN,NaN
33,24-07-2019,CLG/COSMOS ENTERPRISES /BRK,5184.0,30000.0,0.0,"19,264.45 Cr",NaN,NaN
34,25-07-2019,BY CASH-KACHHOLA,NaN,0.0,3050.0,"22,314.45 Cr",NaN,NaN

In [4]:
#same code when all the pages are need to be covered
aux_list = tabula.read_pdf(filepath, 
                     guess=False, pages='all', stream=False ,silent=True ,encoding="utf-8",multiple_tabels=True,
                     area = ( 320.0,9.0,743.81,601.11 ))   
                     #columns = (65.3,196.86,294.96,351.81,388.21,429.77))
                           
aux_df = pd.DataFrame(aux_list,
                      columns = ['Date','Particulars','Chq.No.','Withdrawals','Deposits',
                                 'Auto Sweep','Reverse Sweep','Balance(INR)','Credit','Debit'])

aux_df.drop(['Auto Sweep','Reverse Sweep'],axis=1,inplace=True)
aux_df.drop([0],inplace=True)

for i in range(1,len(aux_df)):
    aux_df['Withdrawals'][i] = aux_df['Withdrawals'][i].replace(',','')
    aux_df['Deposits'][i] = aux_df['Deposits'][i].replace(',','')

aux_df["Withdrawals"] = pd.to_numeric(aux_df["Withdrawals"], downcast="float",errors='ignore')
aux_df["Deposits"] = pd.to_numeric(aux_df["Deposits"], downcast="float",errors='ignore')

aux_df

C:\Users\jayka\.conda\envs\TenserFlow\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\jayka\.conda\envs\TenserFlow\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

,Date,Particulars,Chq.No.,Withdrawals,Deposits,Balance(INR),Credit,Debit
1,01-07-2019,BY CASH - BIJOLIA,NaN,0.0,2000.0,"18,674.45 Cr",NaN,NaN
2,02-07-2019,BIL/INFT/001743804629/NA/,NaN,0.0,3740.0,"22,414.45 Cr",NaN,NaN
3,02-07-2019,MMT/IMPS/918317526479/vidrc/MKELECTRON/BANK OF...,NaN,0.0,3000.0,"25,414.45 Cr",NaN,NaN
4,03-07-2019,BY CASH-KACHHOLA,NaN,0.0,3000.0,"28,414.45 Cr",NaN,NaN
5,03-07-2019,MMT/IMPS/918418038560/d2h/HANSHRAJSO/BANK OF\r...,NaN,0.0,14000.0,"42,414.45 Cr",NaN,NaN
6,05-07-2019,CLG/COSMOS ENTERPRISES /BRK,5181.0,40000.0,0.0,"2,414.45 Cr",NaN,NaN
7,06-07-2019,MMT/IMPS/918710930334/d2h/HANSHRAJSO/BANK OF\r...,NaN,0.0,5000.0,"7,414.45 Cr",NaN,NaN
8,08-07-2019,MMT/IMPS/918814106619/d2h/HANSHRAJSO/BANK OF\r...,NaN,0.0,5000.0,"12,414.45 Cr",NaN,NaN
9,08-07-2019,BIL/INFT/001748219433/NA/,NaN,0.0,2150.0,"14,564.45 Cr",NaN,NaN
10,08-07-2019,UPI/918911468469/UPI/nandkishormali4/State Ban...,NaN,0.0,3000.0,"17,564.45 Cr",NaN,NaN
11,09-07-2019,UPI/919006529705/Palak2vd2h/urmilarankaasin/Paytm,NaN,0.0,2000.0,"19,564.45 Cr",NaN,NaN
12,09-07-2019,UPI/919036840608/NA/9602426732@payt/Bank of Ba...,NaN,0.0,2000.0,"21,564.45 Cr",NaN,NaN
13,09-07-2019,MMT/IMPS/919014033158/d2h/HANSHRAJSO/BANK OF\r...,NaN,0.0,5000.0,"26,564.45 Cr",NaN,NaN
14,11-07-2019,MMT/IMPS/919212840990/vidrc/MKELECTRON/BANK OF...,NaN,0.0,3000.0,"29,564.45 Cr",NaN,NaN
15,11-07-2019,CLG/CODMOD ENTERPRISES/BRK,5182.0,20000.0,0.0,"9,564.45 Cr",NaN,NaN
16,11-07-2019,UPI/919242812430/Payment from Ph/9828846558@yb...,NaN,0.0,1520.0,"11,084.45 Cr",NaN,NaN
17,12-07-2019,UPI/919322122791/Payment from Ph/9351997650@yb...,NaN,0.0,1950.0,"13,034.45 Cr",NaN,NaN
18,15-07-2019,BIL/INFT/001752493955/NA/,NaN,0.0,1520.0,"14,554.45 Cr",NaN,NaN
19,15-07-2019,MMT/IMPS/919414649494/d2h/HANSHRAJSO/BANK OF\r...,NaN,0.0,10000.0,"24,554.45 Cr",NaN,NaN
20,15-07-2019,BY CASH - GULABPURA BAWRI CHOURAHA,NaN,0.0,5000.0,"29,554.45 Cr",NaN,NaN
21,15-07-2019,BIL/INFT/001754025469/MIB-/,NaN,0.0,1800.0,"31,354.45 Cr",NaN,NaN
22,16-07-2019,BY CASH - GULABPURA BAWRI CHOURAHA,NaN,0.0,3000.0,"34,354.45 Cr",NaN,NaN
23,17-07-2019,CLG/COSMOS ENTERPRISES/BRK,5183.0,25000.0,0.0,"9,354.45 Cr",NaN,NaN
24,18-07-2019,BIL/INFT/001755789313/MIB-/,NaN,0.0,2000.0,"11,354.45 Cr",NaN,NaN
25,18-07-2019,MMT/IMPS/919922724515/vidicon/MONUVAISHN/BANK ...,NaN,0.0,10000.0,"21,354.45 Cr",NaN,NaN
26,20-07-2019,MMT/IMPS/920111689183/sisodiyakarera/GOPALSING...,NaN,0.0,1370.0,"22,724.45 Cr",NaN,NaN
27,20-07-2019,UPI/920115721877/UPI/jaina8645@oksbi/State Ban...,NaN,0.0,3000.0,"25,724.45 Cr",NaN,NaN
28,22-07-2019,MMT/IMPS/920312994555/vidrc/MKELECTRON/BANK OF...,NaN,0.0,3000.0,"28,724.45 Cr",NaN,NaN
29,22-07-2019,MMT/IMPS/920313790639/d2h/HANSHRAJSO/BANK OF\r...,NaN,0.0,5000.0,"33,724.45 Cr",NaN,NaN
30,23-07-2019,BIL/INFT/001758812148/NA/,NaN,0.0,3040.0,"36,764.45 Cr",NaN,NaN
31,23-07-2019,MMT/IMPS/920412416551/vidicon/MONUVAISHN/BANK ...,NaN,0.0,10000.0,"46,764.45 Cr",NaN,NaN
32,23-07-2019,MMT/IMPS/920417396415/MB: PCS/SHRAWAN KU/KOTAK...,NaN,0.0,2500.0,"49,264.45 Cr",NaN,NaN
33,24-07-2019,CLG/COSMOS ENTERPRISES /BRK,5184.0,30000.0,0.0,"19,264.45 Cr",NaN,NaN
34,25-07-2019,BY CASH-KACHHOLA,NaN,0.0,3050.0,"22,314.45 Cr",NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
b_i = Bank_statement_features['ICICI']['Balance(INR)']  
d_i = Bank_statement_features['ICICI']['Withdrawals']     
w_i = Bank_statement_features['ICICI']['Deposits'] 

for i in range(1,len(rows_df)):
    if(rows_df['Withdrawals'][i]>rows_df['Deposits'][i]):
        rows_df['Credit'][i] = "No"
        rows_df['Debit'][i] = "Yes"
        
    if(rows_df['Withdrawals'][i]<rows_df['Deposits'][i]):
        rows_df['Credit'][i] = "Yes"
        rows_df['Debit'][i] = "No"

rows_df

C:\Users\jayka\.conda\envs\TenserFlow\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\jayka\.conda\envs\TenserFlow\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\jayka\.conda\envs\TenserFlow\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\jayka\.conda\envs\TenserFlow\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\jayka\.conda\envs\TenserFlow\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Particulars,Chq.No.,Withdrawals,Deposits,Balance(INR),Credit,Debit
1,01-07-2019,BY CASH - BIJOLIA,NaN,0.0,2000.0,"18,674.45 Cr",Yes,No
2,02-07-2019,BIL/INFT/001743804629/NA/,NaN,0.0,3740.0,"22,414.45 Cr",Yes,No
3,02-07-2019,MMT/IMPS/918317526479/vidrc/MKELECTRON/BANK OF...,NaN,0.0,3000.0,"25,414.45 Cr",Yes,No
4,03-07-2019,BY CASH-KACHHOLA,NaN,0.0,3000.0,"28,414.45 Cr",Yes,No
5,03-07-2019,MMT/IMPS/918418038560/d2h/HANSHRAJSO/BANK OF\r...,NaN,0.0,14000.0,"42,414.45 Cr",Yes,No
6,05-07-2019,CLG/COSMOS ENTERPRISES /BRK,5181.0,40000.0,0.0,"2,414.45 Cr",No,Yes
7,06-07-2019,MMT/IMPS/918710930334/d2h/HANSHRAJSO/BANK OF\r...,NaN,0.0,5000.0,"7,414.45 Cr",Yes,No
8,08-07-2019,MMT/IMPS/918814106619/d2h/HANSHRAJSO/BANK OF\r...,NaN,0.0,5000.0,"12,414.45 Cr",Yes,No
9,08-07-2019,BIL/INFT/001748219433/NA/,NaN,0.0,2150.0,"14,564.45 Cr",Yes,No
10,08-07-2019,UPI/918911468469/UPI/nandkishormali4/State Ban...,NaN,0.0,3000.0,"17,564.45 Cr",Yes,No
11,09-07-2019,UPI/919006529705/Palak2vd2h/urmilarankaasin/Paytm,NaN,0.0,2000.0,"19,564.45 Cr",Yes,No
12,09-07-2019,UPI/919036840608/NA/9602426732@payt/Bank of Ba...,NaN,0.0,2000.0,"21,564.45 Cr",Yes,No
13,09-07-2019,MMT/IMPS/919014033158/d2h/HANSHRAJSO/BANK OF\r...,NaN,0.0,5000.0,"26,564.45 Cr",Yes,No
14,11-07-2019,MMT/IMPS/919212840990/vidrc/MKELECTRON/BANK OF...,NaN,0.0,3000.0,"29,564.45 Cr",Yes,No
15,11-07-2019,CLG/CODMOD ENTERPRISES/BRK,5182.0,20000.0,0.0,"9,564.45 Cr",No,Yes
16,11-07-2019,UPI/919242812430/Payment from Ph/9828846558@yb...,NaN,0.0,1520.0,"11,084.45 Cr",Yes,No
17,12-07-2019,UPI/919322122791/Payment from Ph/9351997650@yb...,NaN,0.0,1950.0,"13,034.45 Cr",Yes,No
18,15-07-2019,BIL/INFT/001752493955/NA/,NaN,0.0,1520.0,"14,554.45 Cr",Yes,No
19,15-07-2019,MMT/IMPS/919414649494/d2h/HANSHRAJSO/BANK OF\r...,NaN,0.0,10000.0,"24,554.45 Cr",Yes,No
20,15-07-2019,BY CASH - GULABPURA BAWRI CHOURAHA,NaN,0.0,5000.0,"29,554.45 Cr",Yes,No
21,15-07-2019,BIL/INFT/001754025469/MIB-/,NaN,0.0,1800.0,"31,354.45 Cr",Yes,No
22,16-07-2019,BY CASH - GULABPURA BAWRI CHOURAHA,NaN,0.0,3000.0,"34,354.45 Cr",Yes,No
23,17-07-2019,CLG/COSMOS ENTERPRISES/BRK,5183.0,25000.0,0.0,"9,354.45 Cr",No,Yes
24,18-07-2019,BIL/INFT/001755789313/MIB-/,NaN,0.0,2000.0,"11,354.45 Cr",Yes,No
25,18-07-2019,MMT/IMPS/919922724515/vidicon/MONUVAISHN/BANK ...,NaN,0.0,10000.0,"21,354.45 Cr",Yes,No
26,20-07-2019,MMT/IMPS/920111689183/sisodiyakarera/GOPALSING...,NaN,0.0,1370.0,"22,724.45 Cr",Yes,No
27,20-07-2019,UPI/920115721877/UPI/jaina8645@oksbi/State Ban...,NaN,0.0,3000.0,"25,724.45 Cr",Yes,No
28,22-07-2019,MMT/IMPS/920312994555/vidrc/MKELECTRON/BANK OF...,NaN,0.0,3000.0,"28,724.45 Cr",Yes,No
29,22-07-2019,MMT/IMPS/920313790639/d2h/HANSHRAJSO/BANK OF\r...,NaN,0.0,5000.0,"33,724.45 Cr",Yes,No
30,23-07-2019,BIL/INFT/001758812148/NA/,NaN,0.0,3040.0,"36,764.45 Cr",Yes,No
31,23-07-2019,MMT/IMPS/920412416551/vidicon/MONUVAISHN/BANK ...,NaN,0.0,10000.0,"46,764.45 Cr",Yes,No
32,23-07-2019,MMT/IMPS/920417396415/MB: PCS/SHRAWAN KU/KOTAK...,NaN,0.0,2500.0,"49,264.45 Cr",Yes,No
33,24-07-2019,CLG/COSMOS ENTERPRISES /BRK,5184.0,30000.0,0.0,"19,264.45 Cr",No,Yes
34,25-07-2019,BY CASH-KACHHOLA,NaN,0.0,3050.0,"22,314.45 Cr",NaN,NaN

In [ ]:
# the following functions are basically to handel side cases and were not of use on the pdf which I used.

In [ ]:
## these two methods needed in case we have pdf containing multiple pages ##

#to count the no. of pages in a pdf
def count_pdf_pages(file_path):
    rxcountpages = re.compile(r"/Type\s*/Page([^s]|$)", re.MULTILINE|re.DOTALL)
    with open(file_path, "rb") as temp_file:
        return len(rxcountpages.findall(temp_file.read()))
    
n = count_pdf_pages("D:\Dataset\Loan2Grow\Pdf format\ICICI_Bank_Statement_New_1.pdf")
reader = pyPdf.PdfFileReader(open(filepath, mode='rb' ))
n = reader.getNumPages() 

# if different pages have different areas from which data is to be extracted
df = []
for page in [str(i+1) for i in range(n)]:
    if page == "1":
            df.append(read_pdf(filepath, area=(320.0,9.0,743.81,601.11), pages=page))
    else:
            df.append(read_pdf(filepath, pages=page))

In [ ]:
## in case of ICICI bank not needed as they don't have unique headers on each page ##

# to remove the header from the list of transaction in case pdf have multiple pages
#(as bank statement have same header on each page)
# not of use in case of icici

Headers = []
# iterating over all rows extracted from the pdf
for i in rows_list:
    if if type(rows_list['Deposits'][i])==float:
        Headers.append(rows_list[i:i+1])
    else:
        break

# creating a list containing only valid transactions(removing the header rows from the extracted rows)
Valid_transactions = []  
# iterating over all rows extracted from the pdf
for row in rows_lost:
    if row not in Headers:
        Valid_transactions.append(row)

In [ ]:
## here our code is already ignoring those rows which don't have dates therefore not needed ## 

# To deal with those transactions which aquire multiple rows
#(when tabula is not able to differentiate whether multiple lines in a row belong to the same row 
# and therfore would have created multiple rows for a single transaction) 
# and these multiple lines is only because of narration/transaction_remarks column

single_row_transactions = []
#use the bank name according to pdf
index_date = Bank_statement_features['ICICI']['Date']          
particulars_index = Bank_statement_features['ICICI']['Particulars'] 

for row in Valid_transactions:
    if row[index_date] is not None:                 #checking if the date exist in the row
        single_row_transactions.append(row)

    else:
        # adding the narration part of those rows as the last entry in single_row_transaction
        single_row_transactions[-1][narration_index] += row[narration_index]

In [ ]:
#can be used if needed
#categorizing transactions

def categorize(Particulars):
    word_list = tokenize(Particulars)
    
    if keyword in word_list:
        return category

    for rows in rows_list:
    rows_df['category'] = categorize(rows_df['Particulars'])